.container-fluid{
    padding: 0;
}

/* inicio de sesion */
.login{
    padding: 17px;
    position: absolute;
    top: 25%;
    left: 60%;
    box-shadow: 7px 13px 37px rgb(0, 0, 0);
}

.logo_login{
    border-radius: 3px;
    width: 40%;
    position: absolute;
    top: 30%;
    left: 6%;
    box-shadow: 7px 13px 37px rgb(0, 0, 0);
}

.button_login{
    width: 100%;
}

/* footer */
footer {
    height: 8vh;
    width: 100%;
    position: absolute;
    top: 84.2%;
}